.main-header {
    background-color: brown;
    padding: 1.2rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}
.d-justify-content {
    justify-content: space-between;
}