
.d-flex {
    display: flex;
}
.d-jcsa {
    justify-content: stretch;
    align-items: center;
    gap: 40px;
}


.btn {
    padding: 10px 60px;
    background-color: rgb(66, 24, 24);
    color: aliceblue;
    border-radius: 40px;
    border: none;
}
